body, html {
  width: 100%;
  min-height: 100%;
  margin: 0;

 /* background-image: url("./bristolBalloons.jpg");*/
}

#image {
  position: absolute;
  width: 100%;
  margin: 0;
  z-index: -1;
  object-position: top center;
  height: 100%;
  max-height: 100vh;
  max-width: 100vw;
  object-fit: cover;
}

#quote-box {
  background-color: gray;
  width: 50%;
  height: 70%;
  max-height: 70%;
  min-height: 70%;
  list-style-type: none;
  border-radius: 2%;
  font-family: 'Open Sans';
  line-height: 2.8em;
  transition: .2s ease-in-out;
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  text-align: center;

}

#quotesInfo {
  max-height:100%;
  height:100%;
  min-height:100%;
  margin:0 1em;
}

#text {
  width: 100%;
  max-height: 50%;
  height: auto;
  font-size: min(max(40px), 50px);
  text-align: center;
 margin-top: 20%;
}

#author {
  justify-self: end;
  float: right;
  font-size: min(max(35px), 45px);
  margin-right: 0.5em;
  margin-top: 0;
  padding-top: 0.5em;
}

.buttons {
  margin: 0;
}

#new-quote {
  cursor: pointer;
  background-color: rgb(207, 218, 179);
  width: 7em;
  height: 4em;
  font-weight: 800;
  font-size: 1.3em;
  border-radius: 5%;
  position: fixed;
  bottom: 0.8em;  
  left: 1.5em;
}

#tweet-quote {
  float: right;
  width: auto;
  color: white;
}

@media screen and (min-width: 1700px) {
  #quote-box {
    width: 35%;
    height: 60%;
    max-height: 60%;
    min-height: 60%;
  }
}

@media screen and (max-width: 900px) {
  #quote-box {
    width: 75%;
  }
}
